@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  gap: 3%;
}

header {
  text-align: center;
}
header h1 {
  font-size: 4em;
  font-family: "Cairo", sans-serif;
}

.left-container {
  padding-top: 2em;
}
.left-container ul {
  list-style-type: none;
}
.left-container ul:not(.bottom-list) {
  margin-bottom: 2em;
}
.left-container li {
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
}
.left-container h2 {
  font-size: 2em;
}
.left-container .li-container {
  display: flex;
  width: 85%;
}
.left-container li:hover {
  background-color: #f8f8f8;
  border-radius: 8px;
}
.left-container .right-num {
  font-weight: 600;
  font-size: 1.4em;
  margin-left: auto;
}

.grey {
  color: #808080;
}

.right-container {
  font-size: 1.7em;
}
.right-container #sort-by {
  height: 2.5em;
  width: 8em;
  margin: 0.5em 0 0 -1.2em;
  font-weight: 600;
  font-size: 0.55em;
}
.right-container .task {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
}
.right-container .task:hover {
  background-color: #f8f8f8;
  border-radius: 15px;
  cursor: pointer;
}
.right-container input[type="radio"] {
  margin-top: 0.9em;
  margin-right: -4em;
  height: 2em;
  width: 2em;
  position: relative;
  right: 3em;
  cursor: pointer;
}
.right-container .flex-items {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.right-container .tag {
  background-color: #d8d8d8;
  border: 2px solid #b8b8b8;
  border-radius: 8px;
  padding: 0.1em 0.4em;
  text-align: center;
  font-size: 0.8em;
  margin: 0.1em 0;
}
.right-container .edit-task {
  border: none;
  background-color: #f8f8f8;
  font-size: 0.8em;
  padding: 0.5em;
  padding-top: 25px;
  margin-top: -1.7em;
}
.right-container legend {
  font-size: 1.3em;
  padding-top: 1.8em;
  margin-bottom: -1em;
}
.right-container .edit-title {
  width: 30em;
}
.right-container .edit-description {
  width: 98%;
  padding: 0 0.3em;
  font-size: 0.8em;
}
.right-container .choose-category {
  margin-left: 0.5em;
  font-size: 0.8em;
  width: 8em;
}
.right-container .edit-tags {
  width: 20em;
}
.right-container input[type="text"] {
  font-size: 0.8em;
}
.right-container input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.9em;
  position: relative;
  right: 1em;
}
.right-container input[type="date"] {
  margin-left: 0.5em;
  font-size: 0.7em;
}
.right-container .button-flex {
  display: flex;
  gap: 2em;
}
.right-container button,
.right-container input[type="submit"] {
  background-color: #d8d8d8;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  padding: 0.1em 0.4em;
  text-align: center;
  font-size: 0.9em;
  margin: 0.1em 0;
  margin-top: 0.7em;
}
.right-container button:hover,
.right-container input[type="submit"]:hover {
  cursor: pointer;
  background-color: #b8b8b8;
  border-color: D8D8D8;
}
.right-container .delete-task {
  margin-left: auto;
}
.right-container .add-task {
  margin-bottom: 5em;
  margin-top: 0.3em;
  cursor: pointer;
}
.right-container .require-title:placeholder-shown {
  border-color: #ff0000;
}
.right-container .require-title::placeholder {
  color: #ff0000;
}

@media (max-width: 955px) {
  main {
    width: 98%;
  }
}
@media (max-width: 780px) {
  main {
    grid-template-columns: 1fr 1.5fr;
    gap: 0;
  }

  .right-container {
    font-size: 1.4em;
  }

  .left-container {
    margin: 0 auto;
    width: 70%;
  }
}
@media (max-width: 705px) {
  .right-container {
    font-size: 1.2em;
  }
  .right-container input[type="radio"] {
    margin-top: 0.6em;
    margin-right: -3.4em;
    height: 1.6em;
    right: 2.5em;
  }
}
@media (max-width: 611px) {
  .right-container {
    font-size: 1.05em;
  }
}
@media (max-width: 540px) {
  main {
    grid-template-columns: 1fr;
  }

  .right-container {
    font-size: 1.4em;
    width: 92%;
    margin-left: auto;
  }
}
@media (max-width: 540px) {
  .right-container {
    font-size: 1.2em;
  }
  .right-container .edit-title {
    width: 89%;
  }
  .right-container .edit-task {
    min-width: 90%;
  }
  .right-container input[type="checkbox"] {
    margin-top: 0.5em;
  }
  .right-container .choose-category {
    margin-left: 0.4em;
  }
}

/*# sourceMappingURL=styles.css.map */
