*{
    font-family: $defaultFont;
    margin: 0;
    padding: 0;
}

main{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

header{
    text-align: center;
    h1{
        font-size: 4em;
        font-family: $defaultFont;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    gap: 3%;
}

.left-container{
    padding-top: 2em;


    ul{
        list-style-type: none;
    }

    ul:not(.bottom-list){
        margin-bottom: 2em;
    }

    li{
        font-weight: 600;
        font-size: 1.3em;
        cursor: pointer;
    }

    h2{
        font-size: 2em;
    }

    .li-container{
        display: flex;
        width: 85%;
    }

    .right-num{
        font-weight: 600;
        font-size: 1.4em;
        margin-left: auto;
    }
}

.grey{
    color: #808080;
}

.right-container{
    font-size: 1.7em;

    #sort-by{
        height: 2.5em;
        width: 8em;
        margin: .5em 0 0 -1.2em;
        font-weight: 600;
        font-size: .55em;
    }

    .task{
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: .5em;
        margin-top: .5em;
    }

    .task:hover{
        background-color: #F8F8F8;
        border-radius: 15px;
        cursor: pointer;
    }

    input[type=radio]{
        margin-top: .9em;
        margin-right: -4em;
        height:2em;
        width:2em;
        position: relative;
        right: 3em;
    }

    .flex-items{
        display: flex;
        gap: 1em;
    }

    .tag{
        background-color: #D8D8D8;
        border: 2px solid #B8B8B8;
        border-radius: 8px;
        padding: .1em .4em;
        text-align: center;
        font-size: .8em;
        margin: .1em 0;
    }

    .edit-task{
        border:none;
        background-color: #F8F8F8;
        font-size: .8em;
        padding:.5em;
        padding-top: 25px;
        margin-top: -1.7em;
    }
    legend{
        font-size: 1.3em;
        padding-top: 1.8em;
        margin-bottom: -1em;
    }

    

    .edit-title{
        width:30em;
    }

    .edit-description{
        width:98%;
        padding: 0 .3em;
        font-size:.8em;
    }

    .choose-category{
        margin-left: .5em;
        font-size: .8em;
        width:8em;
    }

    .edit-tags{
        width:20em;
    }

    input[type=text]{
        font-size:.8em;
    }

    input[type=checkbox]{
        height:1.5em;
        width:1.5em;
        margin-top: .9em;
        position: relative;
        right: 1em;
    }

    input[type=date]{
        margin-left: .5em;
        font-size: .7em
    }

    .button-flex{
        display: flex;
        gap:2em;
    }

    button, input[type=submit]{
        background-color: #D8D8D8;
        border: 1px solid #B8B8B8;
        border-radius: 3px;
        padding: .1em .4em;
        text-align: center;
        font-size: .9em;
        margin: .1em 0;
        margin-top: .7em;
    }

    button:hover, input[type=submit]:hover{
        cursor: pointer;
        background-color: #B8B8B8;
        border-color: D8D8D8;
    }

    .delete-task{
        margin-left: auto;
    }
}